<template>
  <div class="h-screen flex justify-center items-center">
    <div>
      <div class="flex items-center">
        <div class="border border-gray-500 w-32 h-32 mr-12">
          <img class="w-full h-full" src='https://avataaars.io/?avatarStyle=Transparent&topType=NoHair&accessoriesType=Blank&facialHairType=Blank&clotheType=Hoodie&clotheColor=Black&eyeType=Default&eyebrowType=FlatNatural&mouthType=Serious&skinColor=Pale' />
        </div>

        <div>
          <div id="email" class="mb-12">{{ email }}</div>
          <div id="username" class="mt-12">{{ username }}</div>
        </div>
      </div>

      <div v-if="responseError"
        class="bg-red-200 text-red-600 border-2 border-red-600 mt-8 p-1"
      >
        &times; {{ responseError.message }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "email",
      username: "username",
      responseError: null
    }
  },
  async created() {
    if (this.$store.state.token === "") {
      this.$router.push('/sign-up');
      return;
    }

    try {
      const response = await this.$axios.create({
        headers: {
          "Authorization": "Bearer " + this.$store.state.token
        }
      }).get('http://localhost:5000/600/users/' + this.$route.params.id);

      this.email = response.data.email;
      this.username = response.data.username;
    } catch (error) {
      if (error.response) {
        if (error.response.status === 401 || error.response.status === 403) {
          this.responseError = {
            message: error.response.data + ". Please, try again"
          };
        }
      }
    }
  }
}
</script>
