<template>
  <div class="h-screen flex justify-center items-center">
    <div>
      <form>
        <div class="flex flex-col my-10">
          <div class="flex justify-between items-center">
            <label class="pr-6" for="email">email</label>
            <input id="email" type="text" name="email"
              class="border border-gray-500 rounded shadow-sm"
              @input="resetErrors"
            />
          </div>

          <div v-if="validationError.hasEmail"
            class="bg-red-200 text-red-600 border-2 border-red-600 mt-2 pl-1"
          >
            &times; Invalid e-mail
          </div>
        </div>

        <div class="flex flex-col my-10">
          <div class="flex justify-between items-center">
            <label class="pr-6" for="password">password</label>
            <input id="password" type="text" name="password"
              class="border border-gray-500 rounded shadow-sm"
              @input="resetErrors"
            />
          </div>

          <div v-if="validationError.hasPassword"
            class="bg-red-200 text-red-600 border-2 border-red-600 mt-2 pl-1"
          >
            &times; Invalid password
          </div>
        </div>
      </form>

      <div class="flex justify-between mt-36">
        <button class="border border-gray-500 rounded shadow font-bold w-28 p-2"
          type="button" @click="clear"
        >
          clear
        </button>
        <button class="border border-gray-500 rounded shadow font-bold w-28 p-2"
          type="button" @click="validate"
        >
          sign-in
        </button>
      </div>

      <div class="text-center text-sm mt-4">
        Not an user yet? <NuxtLink class="no-underline hover:underline"
          to="/sign-up">Sign-up</NuxtLink> now!
      </div>

      <div v-if="responseError"
        class="bg-red-200 text-red-600 border-2 border-red-600 mt-8 p-1"
      >
        &times; {{ responseError.message }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      responseError: null,
      validationError: {
        hasEmail: false,
        hasPassword: false,
      }
    }
  },
  methods: {
    clear() {
      const inputs = this.$el.querySelectorAll("input[type=text]");
      for (const input of inputs) {
        input.value = "";
      }
    },
    resetErrors() {
      this.responseError = null;
      this.validationError.hasEmail = false;
      this.validationError.hasPassword = false;
    },
    async validate() {
      this.responseError = null;

      const emailInput = this.$el.querySelector("input[name=email]");
      const passwordInput = this.$el.querySelector("input[name=password]");

      let regex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (!regex.test(emailInput.value)) {
        this.validationError.hasEmail = true;
      }

      regex = /^[a-zA-z0-9]{8,32}$/;
      if (!regex.test(passwordInput.value)) {
        this.validationError.hasPassword = true;
      }

      if (this.validationError.hasEmail || this.validationError.hasPassword) {
          return;
      }

      try {
        const response = await this.$axios.post('http://localhost:5000/login', {
          email: emailInput.value,
          password: passwordInput.value,
        });

        const token = response.data.accessToken;
        this.$store.commit('set', token);
        const decodedData = JSON.parse(atob(token.split('.')[1]));
        const id = decodedData.sub
        this.$router.push({ path: "/users/" + id });
      } catch (error) {
        if (error.response) {
          if (error.response.status === 400) {
            this.responseError = {
              message: error.response.data + ". Please, try again"
            };
          }
        }
      }
    }
  }
}
</script>
